.ui-autocomplete { 
    max-height: 200px; 
    overflow-y: auto; 
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height we use height instead, but this forces the menu to always be this tall */
* html .ui-autocomplete {
    height: 200px;
}

section{
    overflow-x: auto;
}
/* fazer os max e min width e max e min height das cols que tem o datepicker e as agendas  */
/* media query de aparecer ou não o axis das horas - quando for mobile aparecer e quando for screen tirar de toso e deixar do primeiro só */
#divDtPicker {
    min-width: 200px;
}

#divAgendas{
    min-width: 800px;
    overflow-x: auto;
    overflow-y: hidden;
}

#divAgendas .agndProfEixo{
    min-width: 200px;
}

#divAgendas .agndProf{
    min-width: 200px;
}